{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="{% static 'css/mainStyle.css'%}" type="text/css">
</head>
<body>

<div class="wholeWindow">
    <div class="theBackg">
        <div class="theMenu">
            <a class="PostsUrlFromMain" href="posts">Посты</a>
            <a class="AccUrlFromMain" href="theAccount">Аккаунт</a>
        </div>
    <h1>Добро пожаловать Герой!</h1>

    <h2>Добро пожаловать на фан-сайт игры MMORPG! Здесь вы сможете делиться опытом из интересных <br> сражений/прохождений, также если у вас будут возникать вопросы в процессе прохождения игры то другие игроки с радостью вам помогут! Делитесь, общайтесь, спрашиваете! Все это вы можете делать здесь, но не забывайте и о правилах приличия! За многочесленные нарушения правил (Оскорбления игроков, мат, клевета) ваш аккаунт может быть отстранен. <p>Также на сайт планируется добавить систему рейтинга игроков, и специальные площадки на которых игроки могут догавариваться о совместных играх. Также в приоритете изменить и доработать дизайн сайта! Надеемся вам все понравится. Свои отзывы и предложения можете писать на почту <a href="#">mmorpgame@play.com</a></p> <p>Удачи!</p></h2>
    </div>
</div>
</body>
</html>