{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Posts</title>
     <link rel="stylesheet" href="{% static 'css/postsstyles.css'%}" type="text/css">
</head>
<body>
<a class="buttonAddPost" href="../addPost/">Добавить пост</a>
<a class="buttonAddPost" href="/">На главную</a>
<h2>Посты:</h2>
{% for i in thePost %}
     <a class="linkFromBorder" href="{{ i.id }}">
    <div class="NewsContainer">
    <h2>  {{ i.title }}</h2>
    <br>
{#   {{ i.filesForWeb }}#}
    <h3>{{ i.text }}</h3>
    <br>
    <img src="../media/{{ i.filesForWeb }}" width="1000px" height="1000px">
    <br>
        <h5>Категория: {{ i.Category }}</h5>
{#    {{ i.filesForWeb.width }}#}
{#    {{ i.filesForWeb.height }}#}

    </div>
 </a>
{% endfor %}


</body>
</html>
